<!DOCTYPE html>
<html lang="en">
<head>
    
</head>
<style>
    body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color:rgb(197, 218, 222);
        }

        header {
            background-color: #333;
            font-size: 50px;
            color: #fff;
            text-align: center;
            padding: 20px 0;
        }

        h1 {
            margin: 0;
        }

        .container {
            max-width: 1500px;
            margin: 0 auto;
            padding: 10px;
            background-color: #d2d5d5;
          
           

        }

        .event {
            margin: 20px ;
            border: 1px solid #ddd;
            padding: 10px;
            background-color: rgb(131, 195, 215);
        }

        .event h2 {
            color: #333;
        }

        .event p {
            color: #0d889e;
        }

        .Register{
  background-color: #129db6;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 1;
}

.Register:hover {
  opacity:0.9;
}
        

      

           
</style>
<body>
    <div class="container">
        <div class="event">
            <img src="https://assets-in.bmscdn.com/nmcms/events/banner/desktop/media-desktop-gaurav-kapoor-live-0-2023-9-3-t-7-29-41.jpg" width="1400" alt="Image not found">
        <h2>Gaurav kapoor LIVE</h2>
        <p><strong> Quadrangle</strong></p>
        <p>Stand Up Comedy</p>
        <p>₹499 Onwards</p>
        <a href="register.html">
        <button type="Register"  class="Register">Register</button>
    </a>
   
        
        
              
        </div>
        
</body>
</html>
